:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* BEGIN VARIABLES */
  --slider-padding: 5rem;
  --text-light-bg: #242424;
  --text-dark-bg: #fff;
  --handle-size: 3rem;
  --img-gap: 0.25rem;
  /* END VARIABLES */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 4;
  --slider-index: 0;
  display: flex;
  /* width: calc(100% - 2 * var(--slider-padding)); */
  margin: 0 var(--img-gap);
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
}

.handle {
  flex-grow: 0;
  flex-shrink: 0;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 2;
  margin: 0.25rem 0;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.container:hover .handle {
  background-color: rgba(255, 255, 255, 0.5);
}

.icon-container {
  color: #ffffff;
}

.icon {
  transition: transform 150ms ease-in-out;
}

.handle:hover .icon,
.handle:focus .icon {
  transform: scale(1.5);
}

.movie-grouping {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  color: var(--text-dark-bg);
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
  width: 100%;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.progress-bar {
  display: flex;
  margin: 0;
  margin-left: auto;
  gap: 0.5rem;
  flex-direction: row;
}

.progress-item {
  flex: 0 0 1.5rem;
  height: 0.5rem;
  min-width: 2.5rem;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, 0.85);
}

/* BEGIN MEDIA QUERIES */
/* @TODO: create better media query sizes */
@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}
@media (max-width: 600px) {
  .slider {
    --items-per-screen: 2;
  }
}
/* END MEDIA QUERIES */
