:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* BEGIN VARIABLES */
  --slider-padding: 5rem;
  --text-light-bg: #242424;
  /* END VARIABLES */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --slider-index: 0;
  display: flex;
  /* width: calc(100% - 2 * var(--slider-padding)); */
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > img {
  flex: 0 0 25%;
  max-width: 25%;
  aspect-ratio: 16 / 9;
  padding: 0.25rem;
}

.handle {
  flex-grow: 0;
  width: var(--slider-padding);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  margin: 0.25rem 0;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.handle:hover,
.handle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.container:hover .handle {
  background-color: rgba(0, 0, 0, 0.5);
}

.icon-container {
  color: #ffffff;
}

.icon {
  transition: transform 150ms ease-in-out;
}

.handle:hover .icon,
.handle:focus .icon {
  transform: scale(1.5);
}
